@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
}

.display-flex{
    display: flex;
}

.text-gray{
    color: #424242;
}

.text-light-gray{
    color: #727272;
}
.text-prymari{
    color: #FF900E;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: 0;
    margin-top: 30px;

}
/* ===================== */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 3rem;
    font-size: 700;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-item-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.navbar, .banner{
max-width: 1440px;
margin: 0 auto;
}
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 30px;
}
.banner-image{
    width: 100%;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.teams{
    align-items: center;
}
.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
main > section{
    margin-top: 130px;
}
.our-features{
    margin-left: 30px;
    max-width: 530px;
}
.features-title{
    font-size: 2.8rem;
    font-weight: 700;

}
#quick-list{
    font-weight: 500;
}

#title-margin{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 10px;
}
.Features{
    gap: 100px;
}
.dis{
    margin-bottom: 20px;
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    border-radius: 8px;
    
}

.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#exp-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#exp-year{
    font-size: 4rem;
    font-weight: 700;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 8px;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
    margin-bottom: 10px;
}
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponser-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponser-company img{
    filter: grayscale(100%);
}
@media screen and (max-width:576px) {
    .navbar,
     .nav-item-link,
     .teams{
        flex-direction: column;
    }         
    .fact-container{
        justify-items: center;
    }
    .sponser-company{
        gap: 50px;
        justify-items: center;
    }
    .teams-image-container,.fact-container, .sponser-company, .Features, .feature-architect{
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-architect img{
        width: 100%;
    }
    #exp-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .teams {
        flex-direction: column;
    }   
    .our-features{
        margin-left: 50px;
    }
    .sponser-company{
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        justify-items: center;
    }
}